<%= render 'navbar' %>
<table class="table table-striped" id="testresult-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Test Case Name</th>
      <th>Result</th>
      <th>Last Run</th>
      <th>Environment</th>
      <th>Error Message</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% @testresults.each do |testresult| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= testresult.feature_name %></td>
        <td>Blank</td>
        <td>Blank</td>
        <td></td>
        <td></td>
      </tr>
      <% i = i + 1 %>
    <% end %>
  </tbody>
</table>