// Place all the styles related to the testresults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a, a:visited {
	color: #189eff;
}

#testresult-table, #summary-table, #failed-table {
	width: 90%;
	margin-top: 2%;
	align: center;
}

#failed-table > thead th, #testresult-table > thead th, #summary-table > thead th {
	background-color: #189eff;
	color: white;
}

.failed-table {
	margin-top: 5%;
}

.badge-info {
	margin-top: 5%;
}

.feature-table, .failed-table, .result-table {
	margin-left: 5%;
}

.input-group {
	height: 15%;
	float: left;
	margin-right: 2%;
}

.badge-danger {
	float: left;
	margin-right: 50%;
}

#select-date-range {
	width: 10%;
}

#chart-select > * {
	float: left;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 5%;
}