// Place all the styles related to the testresults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	background-color: #189eff;
	height: 60px;
}

.navbar-brand {
    color: white;
}

.navbar-brand > a:visited {
	color: white;
}

.navbar-brand > img {
	height: 25px;
}

#testresult-table, #summary-table, #failed-table {
	width: 90%;
	margin-top: 2%;
	align: center;
}

#failed-table > thead th, #testresult-table > thead th, #summary-table > thead th {
	background-color: #189eff;
	color: white;
}

.badge-info, .badge-danger {
	margin-top: 5%;
}

.feature-table, .failed-table, .result-table {
	margin-left: 5%;
}