// Place all the styles related to the testresults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a, a:visited {
	color: #189eff;
}

#summary-table {
	margin-top: 2%;
	align: center;
}

#testresult-table {
	margin-top: 2%;
}

#failed-table > thead th, #testresult-table > thead th, #summary-table > thead th {
	background-color: #189eff;
	color: white;
}

.failed-table, .feature-table {
	margin-top: 2%;
}

.report-select {
	margin: 2%;
}

.feature-table, .failed-table, .result-table {
	margin-left: 1%;
}

#date-filter {
	height: 15%;
	float: left;
}

#date-filter-icon {
	margin-right: 5%;
}

.badge-danger {
	float: left;
	margin-right: 70%;
}

#select-date-range {
	width: 10%;
}

#chart-select > * {
	float: left;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 5%;
}

#testresult-comment {
	float: right;
}

