<div id="navbar">
  <nav class="navbar">
  	<div>
    	<p class="navbar-brand"><a href="/">Auto Test Report </a><%= image_tag "tiki_logo.png" %></p>
      	<ul class="header-menu">
	        <li><a href="/" class="hvr-underline-from-center btn btn-primary">Home</a></li>
	        <li><a href="/failed-case" class="hvr-underline-from-center btn btn-primary">Failed TC</a></li>
	        <li><a href="/analysis" class="hvr-underline-from-center btn btn-primary">Analysis</a></li>
      	</ul>
    </div>
  </nav>
</div>